{:paths ["src" "resources"]

 :deps {org.clojure/clojure          {:mvn/version "1.12.0"}
        ring/ring-core               {:mvn/version "1.15.5"}
        ring/ring-jetty-adapter      {:mvn/version "1.15.5"}
        ring/ring-json               {:mvn/version "0.5.1"}
        ring-cors/ring-cors          {:mvn/version "0.1.13"}
        metosin/reitit               {:mvn/version "0.10.1"}
        clj-http/clj-http            {:mvn/version "3.13.1"}
        cheshire/cheshire            {:mvn/version "6.2.0"}
        aero/aero                    {:mvn/version "1.1.6"}
        com.taoensso/timbre          {:mvn/version "6.8.0"}
        org.slf4j/slf4j-simple        {:mvn/version "2.0.17"}}

 :aliases
 {:main {:main-opts ["-m" "tado-data-analyser.core"]
         :jvm-opts  ["-Djavax.net.ssl.trustStoreType=KeychainStore"]}

  :dev {:extra-paths ["dev"]
        :extra-deps  {nrepl/nrepl {:mvn/version "1.3.1"}
                      cider/cider-nrepl {:mvn/version "0.62.0"}}}}}
